.bundle
db/*.sqlite3
log/*.log
tmp/
vendor/ruby/
config/database.yml
public/images/products/
public/images/crests/
public/images/uploaded
.DS_Store
.sass-cache
config/newrelic.yml
public/system/stock_xml/
public/system/matrix_xls/
*.swp
public/assets/
.idea
coverage/*
test/results/*
test/reports/*
config/s3.yml
.rvmrc
